body {
    background-color: lightblue;
    font-family: Arial;
    padding: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: blue;
    margin-top: 20px;
}

p {
    text-align: center;
    color: gray;
}

ul {
    background-color: white;
    padding: 20px;
    border: 2px solid darkblue;
    margin-top: 10px;
}

li {
    padding: 10px;
    margin: 5px;
    background-color: lightyellow;
    list-style-type: square;
}